@import url("Themes.css");
body {
}

/*input.OODCoreComponentInput {
    width: 135px;
}*/

span.OODCoreComponentInputField {
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-border-color);
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
    padding: 2px;
}

.OODCoreComponentInputField input {
    border: none;
    -webkit-appearance: none;
    margin-top: 4px;
    margin-bottom: 4px;
    border-color: var(--primary-border-color);
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
}